<div class="container">
    <h2>Articulation Points Finder</h2>
  
    <div class="form-group">
      <label for="vertices">Number of Vertices:</label>
      <input type="number" [(ngModel)]="vertices" id="vertices" (ngModelChange)="initializeNodes()">
    </div>
  
    <div class="graph-container">
      <svg [attr.width]="svgWidth" [attr.height]="svgHeight">
        <g class="edges">
            <line *ngFor="let edge of edges"
                [attr.x1]="nodePositions[edge[0]].x"
                [attr.y1]="nodePositions[edge[0]].y"
                [attr.x2]="nodePositions[edge[1]].x"
                [attr.y2]="nodePositions[edge[1]].y"
                stroke="black"
                stroke-width="2">
            </line>
        </g>
        
        <g class="nodes">
          <g *ngFor="let pos of nodePositions; let i = index"
             [attr.transform]="'translate(' + pos.x + ',' + pos.y + ')'">
            <circle [attr.r]="nodeRadius"
                   [class.articulation-point]="isArticulationPoint(i)"
                   fill="white"
                   stroke="black"
                   stroke-width="2">
            </circle>
            <text text-anchor="middle"
                  dominant-baseline="middle">{{i}}</text>
          </g>
        </g>
      </svg>
    </div>
  
    <div class="form-group">
      <label for="u">Add Edge</label>
      <input type="number" placeholder="Node 1" #nodeU>
      <input type="number" placeholder="Node 2" #nodeV>
      <button (click)="addEdge(+nodeU.value, +nodeV.value)">Add Edge</button>
    </div>
  
    <button (click)="findArticulationPoints()">Find Articulation Points</button>
  </div>